<html>
    <head>
        <title> Title </title>
    </head>
    <body>
        <ul>
            <form action="#" method="post">
                <li><input type="text" name="username"></li>
                <li><input type="checkbox" name="fav" value="1">linux </li>
                <li><input type="checkbox" name="fav" value="2">python</li>
                <li><input type="checkbox" name="fav" value="3">golang</li>
                <li><input type="submit" value="submit"></li>
            </form>
        </ul>
    </body>
</html>
