<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="#" method="post">
        <ul>
            <li><input type="text" name="username" value=""> linux</li>
            <li><input type="checkbox" name="fav" value="2"> python</li>
            <li><input type="checkbox" name="fav" value="3"> golang</li>
            <li><input type="checkbox" name="fav" value="4"> vagrant</li>
            <li><input type="submit" value="提交"></li>
        </ul>
    </form>

</body>
</html>