{% extends "public/layout.html" %}

{% block body %}
<form class="form-horizontal" method="post">
  <div class="form-group">
    <label for="inputcnmane" class="col-sm-2 control-label">中文名</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="inputcnmane" value="{{ user_obj.profile.cnname }}" disabled >
    </div>
  </div>
  <div class="form-group">
    <label for="oldphone" class="col-sm-2 control-label">原手机</label>
    <div class="col-sm-5">
      <input type="text" id="oldphone" class="form-control" value="{{ user_obj.profile.phone }}" disabled>
    </div>
  </div>
  <div class="form-group">
    <label for="newphone" class="col-sm-2 control-label">新手机</label>
    <div class="col-sm-5">
      <input name="phone" type="text" id="newphone" class="form-control" placeholder="请输入新手机号">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-5">
      <input type="hidden" name="id" value="{{ user_obj.id }}">
      <button type="submit" class="btn btn-primary">提 交</button>
    </div>
  </div>
</form>
{% endblock %}

