{% extends "public/layout.html" %}

{% block body %}
    <table class="table table-striped">
        <tr>
            <th>行号</th>
            <th>用户ID</th>
            <th>英文名</th>
            <th>中文名</th>
            <th>邮箱</th>
            <th>手机</th>
            <th>职位</th>
            <th>部门</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        {% for users in page_obj.object_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ users.id }}</td>
            <td>{{ users.username }}</td>
            <td>{{ users.profile.cnname }}</td>
            <td>{{ users.email }}</td>
            <td>{{ users.profile.phone }}</td>
            <td>{{ users.profile.title }}</td>
            <td>{{ users.profile.department.name|default_if_none:"无部门" }}</td>
            <td class="user_status">
                {% if users.is_active %}
                    <span class="glyphicon glyphicon-ok-circle text-success">正常</span>
                {% else %}
                    <span class="glyphicon glyphicon-warning-sign text-warning">禁止</span>
                {% endif %}
            </td>
            <td>
                <div class="btn-group">
                    <div class="btn-group">
                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="false">
                            修改
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/user/modifydepartment/?user={{ users.id }}">部门</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/user/modifyphone/?user={{ users.id }}">手机</a></li>
                        </ul>
                    </div>
                    {% if users.is_active %}
                        <button type="button" class="btn btn-sm btn-warning modify_user_status" status="true" data="{{ users.id }}">禁用</button>
                    {% else %}
                        <button type="button" class="btn btn-sm modify_user_status btn-info" status="false" data="{{ users.id }}">开启</button>
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>

<div class="panel-default">
    <center>
        <ul class="pagination">
            <li><a href="/user/list/?page=1">首页</a></li>
                {% if page_obj.has_previous %}
                    <li><a href="/user/list/?page={{ page_obj.previous_page_number }}">上一页</a></li>
                {% else %}
                    <li class="disabled"><a>上一页</a></li>
                {% endif %}
                {# {% for p in page_obj.paginator.pages_range %} #}
                {% for p in page_range %}
                    <li {% if page_obj.number == p %} class="active" {% endif %}><a href="/user/list/?page={{ p }}">{{ p }}</a></li>
                {% endfor %}
        
                {% if page_obj.has_next%}
                    <li><a href="/user/list/?page={{ page_obj.next_page_number }}">下一页</a></li>
                {% else %}
                    <li class="disabled"><a>下一页</a></li>
                {% endif %}
            <li><a href="/user/list/?page={{ page_obj.paginator.num_pages }}">末页</a></li>
        </ul>
    
    </center>


{% endblock %}

{% block js %}
<script>
    function change_user_status(status_td_obj, status){
        if (status == "true"){
            status_td_obj.html('<span class="glyphicon glyphicon-warning-sign text-warning"></span>禁止')
        }else{
            status_td_obj.html('<span class="glyphicon glyphicon-ok-circle text-success"></span>正常')
        }
    }
    function modify_user_status(user_id){
        $.post("/user/modifystatus/", {"user_id": user_id}, function(res){
            if (res.status != 0){
                swal({
                    title: res.errmsg,
                    type: "error",
                    confirmButtonText: "知道了"
                });
            }
        })
    }
    $(function(){
        $(".modify_user_status").click(function(){
            var click_obj = $(this);
            var status = click_obj.attr("status");
            if(status === "true"){
                click_obj.removeClass("btn-warning").addClass("btn-info").attr("status", "false").text("开启");
            }else{
                click_obj.removeClass("btn-info").addClass("btn-warning").attr("status", "true").text("禁用");
            }
            change_user_status(click_obj.parents("td").siblings(".user_status"), status);
            modify_user_status(click_obj.attr('data'));
        });
    })
</script>
{% endblock %}